/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #cfcfcf;
  background: radial-gradient(ellipse at center, 
              #cfcfcf 50%, 
              #ededed 100%);
  background: -moz-radial-gradient(center, ellipse cover, 
              #cfcfcf 50%, 
              #ededed 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, 
              color-stop(50%,#cfcfcf), 
              color-stop(100%,#ededed));
  background: -webkit-radial-gradient(center, ellipse cover, 
              #cfcfcf 50%, 
              #ededed 100%);
  background: -o-radial-gradient(center, ellipse cover, 
              #cfcfcf 50%, 
              #ededed 100%);
  background: -ms-radial-gradient(center, ellipse cover, 
              #cfcfcf 50%, 
              #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#cfcfcf',
      endColorstr='#ededed',GradientType=1 );
}

.container {
  background: #fff;
  border: 1px solid #333;
  box-shadow: 4px 4px 8px #333;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

header {
  border-bottom: 1px solid #000;
}

footer {
  border-top: 1px solid #000;
}